/* 1.จัดการเรื่องขนาดกล่องให้ครอบคลุมทุกส่วน */
*,
*::before,
*::after {
  box-sizing: border-box; /*ให้ขนาดกล่องรวมและ  border ไม่ขยายใหญ่เกินที่สั่ง */
}

/* 2. Reset basic margin และ padding */
* {
  margin: 0; /* เอาขอบขาวๆ ด้านนอกออกให้หมด */
  padding: 0; /*เอาพื้นที่ว่างด้านในออกให้หมด */
}

/* 3. Set VARIANCES */
:root {
  --darkgrey: #d3d3d3; /* 2nd section bg*/
  --lightgrey: #f0f4f3; /*main section bg*/
  --black: #505050; /* general heading*/
  --light-bg: #f0efed;
  --white: #ffffff;
  --link: #3a7ca5;
  --text-muted: #666; /* Paragraph */
  --font-display: "Montserrat", sans-serif; /* Heading */
  --font-body: "Source Sans 3", sans-serif; /* Body/Paragraph */
}

/* 4. Set Body Style = Big Picture */
body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 16;
  line-height: 1.6px;
  letter-spacing: normal;
  color: var(--black); /* สีตัวหนังสือหลัก (เข้มเกือบดำ) */
  background: var(--lightgrey);
}

/* RESPOSIVE WEB : DESKTOP + MOBILE VERSION */
/* ══════════════════════════════════════
                1. DESKTOP
    ══════════════════════════════════════ */

/* === SECTION1 1 : NAVBAR === */

header {
  display: flex; /* logo - nav menu มาเรียงแถว */
  align-items: center; /* กึ่งกลางในแกน Y*/
  padding: 0 24px; /* ระยะห่างจากขอบ left-right*/
  height: 64px; /* REQ: Header height = 64px*/
  background: var(--white);
  border-bottom: 1px solid var(--lightgrey);
  position: sticky;
  top: 0; /* ทำงานกับ sticky ให้ติดที่ 0px*/
  z-index: 100; /* ตั้งให้ header = layer บนสุดเสมอ*/
  justify-content: space-between; /* แยกสองฝั่ง */
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px; /* ระหว่าง logo - logo-text*/
  text-decoration: none;
}

.logo icon {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-family: var(--font-display);
  font-size: 24px;
  letter-spacing: 0.04em; /* relative em ขึ้นกับ font-size*/
  color: var(--black);
}

.logo-text span {
  font-weight: 600;
}

.nav-icon {
  display: none; /*ไม่ต้องแสดงไอคอนใน desktop*/
}

nav {
  display: flex;
  gap: 0; /* แต่ละพื้นที่ของ nav menu ไม่มีข่องว่าง เวลา hover จะเห็นเป็นแถบต่อกัน*/
}

nav a {
  display: block; /* เปลี่ยนเป็ยบล็อคให้รับค่าความกว้าง สูงได้เวลา hover */
  padding: 0 16px; /* REQ: ช่องว่างแต่ละเมนู 16px */
  font-size: 15px;
  color: var(--black);
  text-decoration: none; /*เอาเส้นใต้ tag a ออก*/
  height: 64px;
  line-height: 64px; /* สูงเท่าความกว้่างกล่อง ให้ menu at center auto*/
}

nav a.sign-in {
  padding-right: 24px;
}

nav a:hover {
  background: var(--darkgrey);
}

/* === SECTION 2 : HERO === */
.hero {
  display: flex; /* ให้ hero-image, hero-content มาเรียงในแนวนอน*/
  background: var(--darkgrey);
  align-items: stretch; /* ให้ความสูงของ hero-content เท่ากับฝั่งรูปภาพเสมอ */
}

.hero-image {
  width: 60%; /*REQ: กินพื้นที่ 60% */
  margin: 32px 0 32px 24px;
  flex-shrink: 0; /*ไม่ให้กล่องข้อความมาเบียด*/
}

.hero-image img {
  width: 100%; /*ขยายเต็มที่ใน 60% ที่ให้มา*/
  height: 100%;
  object-fit: cover; /*ถมพื้นที่โดยไม่เสีย ratio ถ้าเกินตัดออกไป*/
  display: block; /*ล้างค่า ghost space เวลาเป็น inline element*/
}

.hero-content {
  flex: 1;
  display: flex;
  margin-left: 0;
  padding: 32px 24px 32px 24px;
  flex-direction: column; /*เพื่อให้ h1, p, bth วางเรียงแนวตั้ง*/
  justify-content: center;
}

.hero-content h1 {
  font-family: var(--font-display);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 16px;
}
.hero-content p {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-muted);
  margin-bottom: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.btn-primary {
  display: inline-flex; /*ให้ปุ่มรับค่า padding, height ได้ แต่ไม่กินพื้นที่เหมือน block*/
  background: var(--black);
  height: 44px;
  width: 70%;
  padding: 8px auto;
  font-family: var(--font-display);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--white);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  line-height: normal;
  cursor: pointer; /* ลูกศรเมาส์เป็นรูปมือ*/
  border: none;
  align-self: flex-start; /* ปุ่มชิดซ้าย */
}

.btn-primary:hover {
  background: #444;
}

/* === SECTION 3: INFORMATION === */

.information {
  display: flex;
  align-items: flex-start; /* ความสูงแนวตั้งเกาะขอบบนเสมอ แต่ละฝั่งสูงเท่าแค่เนื้อหาของตัวเอง */
  width: 100%; /*ให้ส่วนนี้ความเต็มจอ*/
  border-top: 1px solid var(--lightgrey);
}

/* INFO-LEFT */

.info-left {
  width: 60%; /* REQ */
  margin: 32px 24px;
  background: var(--lightgrey);
}

.info-left img {
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 32px;
}

.info-left h2 {
  font-family: var(--font-display);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 24px;
}

.info-left blockquote {
  font-size: 16px;
  color: var(--text-muted);
  margin-bottom: 32px;
  line-height: 1.5;
  letter-spacing: normal;
}

.info-left cite {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  font-style: normal;
  margin-bottom: 32px;
}

/* INFO-LEFT */

.info-right {
  flex: 1; /* ให้กินพื้นที่ 40% ที่เหลืออัตโนมัติ */
  background: var(--lightgrey);
  display: flex;
  flex-direction: column;
}

.info-card {
  display: flex;
  gap: 0;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid var(--darkgrey);
  background: var(--lightgrey);
}

.info-card:last-child {
  border-bottom: none; /* ตัวสุดท้ายไม่มีเส้นแบ่ง */
}

.info-card:hover {
  background: var(--darkgrey);
}

.info-card picture {
  width: 35%; /* กำหนดความกว้างส่วนของรูปภาพตาม REQ */
  flex-shrink: 0; /* ห้ามรูปถูกบีบให้เล็กลงเมื่อพื้นที่ไม่พอ */
  display: block;
}

.info-card .card-image {
  width: 100%; /* ให้รูปขยายเต็ม 35% ของพื้นที่ข้างบน */
  height: auto;
  display: block;
  object-fit: cover; /* ป้องกันรูปเบี้ยว */
}

.info-card-body {
  padding: 8px 0 8px 16px;
}

.info-card-body h3 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
}

.info-card-body p {
  font-size: 16px;
  color: var(--text-muted);
  line-height: normal;
  margin-bottom: 16px;
}

.info-card-body a {
  font-size: 14px;
  color: var(--link);
  text-decoration: none;
}

.info-card-body a:hover {
  text-decoration: underline;
}

/* === SECTION 4: COURSES === */

.courses {
  background: var(--lightgrey);
  padding: 32px 72px; /* REQ */
}

.courses h2 {
  font-family: var(--font-body);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 32px;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.course-card {
  background: var(--white);
  overflow: hidden;
}

.course-card img {
  width: 100%;
  aspect-ratio: 16/10;
  object-fit: cover;
  display: block;
}

.course-card-body {
  padding: 16px 16px 24px;
}

.course-card-body h3 {
  font-family: var(--font-body);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.course-label {
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-muted);
  margin-bottom: 8px;
}

.course-card-body p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-muted);
}

.course-card:hover {
  background: var(--darkgrey);
}

/* === SECTION1 5 : THESIS EXHIBIT  === */
.thesis {
  padding: 32px 0;
  background: var(--lightgrey);
}

.thesis h2 {
  font-family: var(--font-body);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 32px;
}

.thesis-content {
  display: flex;
}

.thesis-left {
  width: 60%;
  padding: 32px 24px 24px 24px;
}

video {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.thesis-left h3 {
  font-family: var(--font-body);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 24px 0 8px;
}

.thesis-left p {
  font-size: 15px;
  line-height: 1.2;
  color: var(--text-muted);
}

.thesis-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 0;
}

.thesis-card {
  display: flex;
  gap: 0;
  padding: 16px;
  border-bottom: 1px solid var(--lightgrey);
  cursor: pointer;
}

.thesis-card:first-child {
  background: var(--lightgrey);
}

.thesis-card:hover {
  background: var(--darkgrey);
}

.thesis-card img {
  width: 35%;
  object-fit: cover;
  flex-shrink: 0;
}

.thesis-card-body {
  padding: 8px 0 8px 16px;
}

.thesis-card-body h3 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 6px;
}

.thesis-card-body p {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-muted);
}

/* === SECTION1 6 : FOOTER  === */
footer {
  background: var(--lightgrey);
  border-top: 1px solid var(--darkgrey);
  padding: 16px 24px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 13px;
  color: var(--text-muted);
}

footer nav a {
  height: auto;
  line-height: normal;
  font-size: 13px;
  color: var(--text-muted);
  padding: 0 0 0 16px;
}

footer nav a:hover {
  background: none;
  text-decoration: underline;
}

/* ══════════════════════════════════════
             2. MOBILE  ≤ 680px
    ══════════════════════════════════════ */
@media (max-width: 680px) {
  /* === HEADER === */
  header {
    width: 100%;
    padding: 0; /* ล้าง padding ออกเพื่อให้กระจายได้เต็มหน้าจอ */
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* ใช้ space-evenly เพื่อให้ระยะห่างระหว่าง Logo และ Icons เท่ากันหมด */
    height: 64px;
  }

  /* ซ่อนข้อความทั้งหมด */
  .logo-text,
  .nav-text {
    display: none;
  }

  /* สั่งซ่อนเมนู For companies บน Mobile */
  .hide-mobile {
    display: none !important;
  }

  .logo {
    /* ให้โลโก้ทำตัวเหมือนเป็นส่วนหนึ่งของการกระจายพื้นที่ 25% */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* ให้ความสูงเต็ม header */
    flex: 0.25; /* ปรับสัดส่วนให้ใกล้เคียงกับไอคอนอื่นๆ กินพื้นที่ 25% ของ 1 */
  }

  .logo:hover {
    background-color: var(--darkgrey);
  }

  /* ปรับโครงสร้าง nav ไม่ให้ขวางทางระยะห่าง */
  nav {
    display: flex;
    flex: 1; /* ให้ nav กินพื้นที่ที่เหลือ */
    align-items: center; /* จัดกลางแนวตั้งในระดับ nav */
    height: 100%; /* ให้ nav สูงเต็ม header */
    justify-content: space-evenly;
    gap: 0;
  }

  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* ให้แต่ละลิงก์มีพื้นที่เท่าๆ กัน (จากพื้นที่เหลือท่ี่แบ่งมาจาก nav อีกที) */
    height: 100%; /* ให้พื้นที่คลิกสูงเต็ม header */
  }

  .nav-icon {
    display: block;
    height: 32px; /* ขนาดความสูง nav-icon */
    width: auto;
  }

  /* === HEADER : Stack verically === */

  .hero {
    flex-direction: column; /* สั่งให้รูปอยู่บน ข้อความอยู่ล่าง */
  }

  .hero-image {
    width: 100%; /* รูปกินเต็มความกว้างจอ */
    margin: 0; /* ล้าง margin ที่เคยตั้งไว้ใน desktop ออก */
    display: block; /* มั่นใจว่าแสดงผลเต็มบรรทัด */
  }

  .hero-image img {
    width: 100%;
    height: auto; /* ให้ความสูงปรับตามสัดส่วนรูปจริง ไม่โดนบีบ */
  }

  .hero-content {
    width: 100%;
    padding: 32px 16px;
    align-items: flex-start;
    margin-left: 0;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
  }

  .hero-content p {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.06em;
  }

  .btn-primary {
    width: 100%;
    text-align: center;
    align-self: stretch;
    padding: 16px;
  }

  /* === INFO SECTION ===
  hide left column, stack cards vertically */

  /*  จัดเรียงเนื้อหาเป็นแนวตั้ง */
  .information {
    flex-direction: column;
  }

  .info-left {
    display: none; /* ซ่อนฝั่งซ้ายตามสเปก */
  }

  .info-right {
    width: 100%;
    background: var(--lightgrey);
  }

  /* จัดการตัวการ์ด */
  .info-card {
    display: flex; /* มั่นใจว่าเป็น flex */
    flex-direction: column; /* บนมือถือให้รูปอยู่บน ข้อความอยู่ล่าง */
    padding: 0; /* เว้นระยะด้านล่างการ์ดแต่ละใบ */
    background: var(--lightgrey) !important;
    align-items: stretch;
  }

  /* จัดการรูปภาพ (ในแท็ก picture) */
  .info-card picture {
    width: 100%;
    display: block;
    line-height: 0; /* ← กำจัด gap ใต้รูป */
  }

  .info-card img.card-image {
    width: 100%;
    height: 240; /* ← ล็อคความสูงให้เท่ากันทุกการ์ด */
    object-fit: cover;
    display: block;
    margin-bottom: 0;
  }

  .info-card-body {
    padding: 24px 16px; /* ← padding เท่ากันทุกการ์ด */
  }

  .info-card-body h3 {
    margin: 0 0 12px 0; /* ห่างจาก p แค่ด้านล่าง 12px */
  }

  .info-card-body p {
    margin: 0 0 16px 0; /* ห้ห่างจาก link 'Read more' 16px */
  }

  /* === COURSE === 
Single-colum list, no images */

  .course {
    padding: 32px 16px;
  }

  .courses-grid {
    display: grid;
    grid-template-columns: 1fr; /*วางเลย์เอาท์ให้ 1 แถวมี 1 col*/
    gap: 8px; /* REQ  แต่ละช่องห่างกัน */
  }

  .course-card img {
    display: none;
    /* hide images on mobile per spec */
  }

  .course-card {
    background: var(--darkgrey);
  }

  .course-card-body {
    padding: 16px 16px 24px;
  }

  .course-card-body h3 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .course-card:hover {
    background: var(--black);
    color: var(--lightgrey);
  }

  .course-label,
  .course-card-body p {
    display: none;
  } /* list style = title only */

  /* === THESIS === 
      full-width video only, hide right panel */
  .thesis-section {
    padding: 0;
  }

  .thesis-section h2 {
    padding: 32px 16px 16px;
    margin-bottom: 0;
  }

  .thesis-content {
    flex-direction: column;
  }

  .thesis-left {
    width: 100%;
    padding: 0;
  }

  .thesis-left h3,
  .thesis-left p {
    display: none;
  } /* hidden on mobile */

  .thesis-right {
    display: none;
  } /* hide card list on mobile */

  /* === FOOTER === 
      center, hide Terms/Privacy */

  footer {
    padding: 16px;
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  footer nav {
    display: none;
  }

  footer p {
    font-size: 14px;
  }
}
